<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Welcome to Our Hospital</h2>
            <p>
                A hospital is a vital institution within the healthcare system, serving as a place of healing, medical treatment, and compassionate care for individuals in need. It stands as a symbol of hope, where skilled healthcare professionals, state-of-the-art technology, and a compassionate environment come together to provide support and recovery to patients.</p>
            <p>
                One of the primary functions of a hospital is to diagnose and treat a wide range of illnesses and injuries. From routine check-ups and preventive care to emergency situations and complex surgeries, hospitals offer comprehensive medical services that cater to the diverse needs of patients. Specialized departments within hospitals, such as cardiology, oncology, neurology, and pediatrics, provide focused care to individuals with specific medical conditions.</p>
            <p>In addition to medical treatments, hospitals are also centers for research and innovation. They serve as the testing grounds for new medical breakthroughs, cutting-edge technologies, and pharmaceutical advancements. Research conducted in hospitals plays a crucial role in advancing medical knowledge, improving treatments, and finding potential cures for various diseases.</p>
        
            <p>Beyond medical interventions, hospitals provide a holistic approach to patient care. They offer a supportive and nurturing environment for patients, ensuring their physical, emotional, and psychological well-being. Skilled nurses, doctors, and support staff work tirelessly to provide comfort, empathy, and guidance to patients and their families during difficult times. This compassionate care extends beyond the walls of the hospital, encompassing outreach programs, support groups, and educational initiatives that promote health and wellness in the community.</p>
        </div>
        <div class="col-md-6">
            <img src="assets/img3.jpg" alt="Hospital Image" class="img-fluid rounded" style="margin-top: 7%;">
        </div>
    </div>
</div>

<footer class="bg-dark text-white text-center py-3" style="margin-top: 14%;">
    <p>&copy; 2023 Hospital Management. All rights reserved.</p>
</footer>
<router-outlet></router-outlet>